<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Contacto - UruguayComponentes</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="maincontenedor">
    <div class="header">
      <ul class="topnav">
        <li class="glow-nav">
          <a href="../index.html">Inicio</a>
        </li>
        <li class="glow-nav">
          <a href="../index.html#articles_2">Articulos</a>
        </li>
        <li class="glow-nav">
          <a href="about.html">Sobre nosotros</a>
        </li>
        <li class="glow-nav">
          <a href="contact.html">Contacto</a>
        </li>
        <li id="searchbar" style="float:right;"><input placeholder="Buscador..." type="text"> &nbsp;&nbsp;&nbsp;<input type="submit" value="Buscar"></li>
      </ul>
      
      <h1><div style="border: 2px white solid;">UruguayComponentes</div></h1>

    </div>

    <div id="contact">
      <form action="" method="post" style="text-align: center;">
        <div class=>
          <h2>Contacta con nosotros</h2>
          <p>Si tienes alguna duda o quieres soporte tecnico, utiliza este formulario y te responderemos lo mas rapido posible</p>
        </div>
        <ul id="ulForm" style="list-style: none">
          <li>
            <label for="element_4">Nombre</label>
            <div>
              <input id="element_4" maxlength="255" name="element_4" type="text" value="">
            </div>
          </li>
          <li >
            <label for="element_5">Apellido</label>
            <div>
              <input id="element_5" maxlength="255" name="element_5" type="text" value="">
            </div>
          </li>
          <li>
            <label for="element_1">Email</label>
            <div>
              <input  id="element_1" maxlength="255" name="element_1" type="text" value="">
            </div>
          </li>
          <l>
            <label for="element_7">Telefono</label>
            <div>
              <input id="element_7" maxlength="255" name="element_7" type="text" value="">
            </div>
          </li>
          <li >
            <label for="element_2">Titulo</label>
            <div>
              <input class="element text medium" id="element_2" maxlength="255" name="element_2" type="text" value="">
            </div>
          </li>
          <li>
            <label for="element_8">Causa del mensaje</label>
            <div>
              <select  id="element_8" name="element_8">
                <option selected="selected" value="">Selecciona una razon
                </option>
                <option value="1">
                  Duda
                </option>
                <option value="2">
                  Envi
                </option>
                <option value="3">
                  Articulo
                </option>
                <option value="4">
                  Reparaciones
                </option>
              </select>
            </div>
          </li>
          <li >
            <label for="element_3">Mensaje</label>
            <div>
              <textarea id="element_3" name="element_3"></textarea>
            </div>
          </li>
         
          <li >
            <label class="description" for="element_6">Subir foto(opcional)</label>
            <div>
              <input class="element file" id="element_6" name="element_6" type="file">
            </div>
          </li>
          <li class="buttons"><input name="form_id" type="hidden" > <input class="button_text" name="submit" type="submit" value="Submit"></li>
        </ul>
      </form>
      <footer class="footer" style="margin-top: 0%">
        <h1>UruguayComponentes S.L.</h1>
        <div class="footer_content">
          <h3>CIF: 689234822M</h3>
          <h4>Direccion: AVDA Europa, Parcela 2-5 y 2-6.<br>
          Polígono industrial Las Salinas ,<br>
          30840, Alhama de Murcia, Murcia.</h4>
          <h4>Telefono: +34 698856322</h4>
          <h4>FAX: +34 922568979</h4>
        </div>
        <div class="footer_content">
          <h3>Contacta con nosotros por las redes sociales</h3>
          <p></p>
          <h4><a href="#">Facebook</a></h4>
          <h4><a href="#">Instagram</a></h4>
          <h4><a href="#">Pintarest</a></h4>
          <h4><a href="#">Twitter</a></h4>
          <p></p>
        </div>
        <div class="footer_content">
          <h4>Si no encuentras algo utiliza nuestro buscador:</h4><input placeholder="Buscador..." type="text"> &nbsp;&nbsp;&nbsp;<input type="submit" value="Buscar"><br>
          <p>No dudes en consultar con nosotros cualquier duda que tengas antes de hacer algun pedido</p>
          <p>Envianos un email a: <a href="#">ayuda@uruguaycomponentes.com</a></p>
          <p>&copy; 2017 UruguayComponentes</p>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>